path
pathlib
pathlib2
json5
jsonschema
pandas
pydicom
docker
tqdm
PyQt5==5.12
PyQt5-sip
PyQtWebEngine==5.12
PySocks
QtAwesome
QtPy
matplotlib
nibabel
numpy
bids_validator
zipp
scipy
bs4
markdown
requests
html5lib
