path==16.6.0
pathlib
pathlib2==2.3.7
json5==0.9.5
jsonschema==3.2.0
pandas==1.5.3
pydicom==2.3.1
docker==6.0.1
tqdm==4.64.1
PyQt5==5.12
PyQt5-sip==4.19.19
PyQtWebEngine==5.12
PySocks==1.7.1
QtAwesome==1.2.2
QtPy==2.3.0
matplotlib==3.7.0
nibabel==5.0.1
numpy==1.22.0
bids_validator==1.10.0
zipp==3.15.0
scipy==1.8.0
bs4==0.0.1
Markdown==3.4.1
requests==2.28.2
html5lib==1.1
portalocker==2.10.0
